.orange {
    -fx-background-color: orange;
}

.yellow {
    -fx-background-color: #fdffcf;
}

.dark-orange {
    -fx-fill: #543907;
    -fx-opacity: 0.7;
}

.body-background {
    -fx-background-color: #2f3133;
}